body{
  background-image: url('../images/vector1.png');
  background-color: white;
  background-repeat: repeat;
  background-size: 100%;
  background-position-y: center;
  padding: 0;
  margin: 0;
}

main{
  min-height: calc(100vh - 200px);
}

.topicos{
  margin: 35% auto 0 auto;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  flex-wrap: wrap;
}

.topicos a{
  text-align: center;
  font-family: var(--fonte);
  width: 150px;
  background-color: var(--laranjaopc);
  border-radius: 9px;
  padding: 0 5px 0 5px;
  color: var(--marromCla);
  font-size: 40px;
  text-decoration: none;
  margin: 10px;
}

  .conteiner{
  margin: 10% auto 0 auto;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  }

.card{
  display: flex;
  align-items: center;
  width: 240px;
  height: 346px;
  flex-shrink: 0;
  border-radius: 53px;
  background: var(--laranjaCla);
  border: none;
  margin: 20px;
}
 
.cardCont{
  width: var(--tam);
}

.card img{
  width: 100%;
  height: auto;
  border-radius: 35px;
}

.card .tituloRec{
  overflow: hidden;
  width: 120px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card h3{
  color: var(--marromCla);
  text-align: center;
  font-family: var(--fonte);
  font-size: 36px;
  margin: 15px 0;
}

.botao{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.botao img{
  width: 36px;
  height: 39px;
  border-radius: 0%;
}

.botao, #btnVerRec{
  width: 180px;
  background-color: var(--laranjaopc);
  border-radius: 9px;
  padding: 0 5px 0 5px;
  border: none;
  color: var(--marromCla);
  font-size: 40px;
}
  
.botao #btnVerRec a, a:visited, a:active{
  font-size: 40px;
  text-decoration: none;
  color: var(--marromCla);
}


@media (min-width: 768px){
  .conteiner{
    margin: 5% auto;
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.topicos{
  margin: 13% auto 0 auto;
}

.topicos a{
  font-size: 1.8rem;
}

.card{
  display: flex;
  align-items: center;
  width: 239px;
  height: 306px;
  flex-shrink: 0;
  border-radius: 53px;
  background: var(--laranjaCla);
  border: none;
  margin: 20px;
}
 
.cardCont{
  width: var(--tam);
}

.card img{
  width: 238px;
  height: auto;
  border-radius: 35px;
}

.card h3{
  color: var(--marromCla);
  text-align: center;
  font-family: var(--fonte);
  margin: 15px 0;
}

.card .tituloRec{
  width: 200px;
}

.botao img{
  width: 30px;
  height: 31px;
  border-radius: 0%;
}

.botao{
  width: 128px;
  background-color: var(--laranjaopc);
  border-radius: 9px;
  padding: 0 5px 0 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
  
.botao #btnVerRec{
  color: var(--marromCla);
  text-decoration: none;
  width: 71px;
  background-color: var(--laranjaopc);
  border-radius: 9px;
  padding: 0px 2px;
  border: none;
  font-size: 30px;
}

}